[package]
authors = ["Andreas Fuchs <asf@boinkor.net>"]
description = "Deploy a nix flake to a remote system"
documentation = "https://docs.rs/deploy-flake"
edition = "2018"
license = "MIT"
name = "deploy-flake"
readme = "README.md"
repository = "https://github.com/antifuchs/deploy-flake"
version = "0.0.1-dev"
[badges]
[badges.maintenance]
status = "passively-maintained"

[badges.travis-ci]
branch = "master"
repository = "antifuchs/deploy-flake"

[[bin]]
name = "deploy-flake"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.58"
async-trait = "0.1.56"
futures = "*"
openssh = "0.9.5"
serde_json = "1.0.82"
tracing = "0.1.35"
tracing-subscriber = "0.3.14"
url = "*"

[dependencies.clap]
features = ["derive"]
version = "3.2.8"

[dependencies.serde]
features = ["derive"]
version = "1.0.138"

[dependencies.tokio]
features = ["full"]
version = "1.19.2"

[metadata]
[metadata.template_ci]
[metadata.template_ci.clippy]
allow_failure = false
version = "stable"
